#social-component {
    display: flex;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    
    i {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 0 20px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        z-index: 10;
        color: #152733;
        transition: all .5s;

        &:hover {
            color: #af2b36;
        }

        &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border: 2px solid #152733;
            transform: rotate(45deg);
            top: -1px;
            left: -2px;
            transition: all .5s ease-in-out;
            box-shadow: 0 0 39px 5px rgba(24, 42, 54, 0);
            z-index: -1
        }

        &:hover:after {
            box-shadow: 0 0 0 0px #152733;
            background: linear-gradient(to right, #485563, #29323c);
        }

        .media-icon:nth-child(2) i {
            padding-left: 2px;
        }
    }
}