#side-draw-component {
    position: fixed;
    width: 17em;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;

    .side-draw-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
        padding: .5em;

        .fa-times {
            padding: .1em .15em;
            font-size: 3em;
            background-color: #fff;
            cursor: pointer;
        }
    }

    .navigation-list {

        #navigation-item-component {
            display: flex;

            .nav-link {
                padding: 1em;
                width: 100%;
                height: 100%;
                background: #fff;
                color: black;
                border-top: 1px solid #eee;
                transition: all .2s ease-in; 

                &:hover {
                    color: #fff;
                    background: #29323c;
                }
            }
        }

        #navigation-item-component:last-child {
            .nav-link {
                border-bottom: 1px solid #eee;
            }
        }
    }

    @media (min-width: 768px) {
        display: none;
    }
}
