#header-component {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #485563, #29323c);
    padding: .5em .7em;

    .mobile-control {
        display: none;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
    }

    .navigation {

        .navigation-list {
            display: flex;

            #navigation-item-component {
                padding-left: 1em;
                margin-bottom: 0;
                color: #fff;
                font-size: 1.2em;

                .nav-link {
                    transition: all .2s ease-in;

                    &:hover,
                    &:focus {
                        color: #af2b36;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;

        .mobile-control {
            display: block;
        }

        #navigation-component {
            display: none;
        }
    }
}
