#footer-component {
    max-width: 75em; 
    padding: 1.5em .5em .5em;
    margin: 0 auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-top: 4px dashed #fff;

   .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .brand-component {
            margin: 2em auto;
        }

        #social-component {
            margin: 2em auto 0 auto;
        }
    }
}