#layout {
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  min-height: 100vh;


  font-family: 'Lato', sans-serif;

  font-family: 'Open Sans', sans-serif;


  .open {
      transform: translateX(0);
  }

  .close {
      transform: translateX(-100%);
  }

  .container {
      max-width: 1366px;
      margin: 0 auto;
      padding: 0 .5em .5em .5em;
      margin: 0 auto;
    }

    .page {
        min-height: 75vh;
        max-width: 1366px;
        margin: 0 auto 2em auto;
        padding: 2em;
        background: #fff;
        box-shadow: -1px 5px 10px rgba(0,0,0,0.35);

        .defaultContent {
            max-width: 75em;
        }

        .page-title {
            text-align: center;
            margin-bottom: 32px;
        }
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        .defaultContent {
            line-height: 2;
            margin: 1em auto;
        }

        .contact-map {
            width: 30em;
            height: 15em;
        }
    }

    .gallery-wrapper {
        display: block;
        min-height: 1px;
        width: 100%;
        border: 1px solid rgb(221, 221, 221);
        overflow: hidden;

        .tile-viewport {

            img {
                object-fit: cover;
            }
        }
    }

    @media (max-width: 561px) {
        padding-top: 3em;

        #contact {

            .contact-map {
                width: 15em;
            }
        }
    }

    @media (max-width: 367px) {
        padding-top: 3em;

        #contact {

            .contact-map {
                width: 20em;
            }
        }
    }

    @media (max-width: 540px) {
        font-size: .9em;

        .gallery-wrapper {

            .tile {
                width: 100%;

                .tile-viewport {
                    width: auto !important;
                    height: auto !important;
                    padding: .3em;

                    img {
                        width: 100% !important;
                        height: 100% !important;
                        object-fit: unset;
                        margin: 0 !important;

                    }
                }
            }
        }
    }


    // .hero {
    //     height: 55vh;
    //     width: 100%;
    //     background-size: cover;
    //     background-position: center center;
    //     background-repeat: no-repeat;
    // }
}
