#layout {
  background-color: #f1f1f1;

  .open {
      transform: translateX(0);
  }

  .close {
      transform: translateX(-100%);
  }

  .container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 .5em .5em .5em;
  }
}
